<div class="comments">
  <div class="card comment p-2 my-3">
    <ul class="meta list-inline mb-0">
      <li class="list-inline-item">
        <a href="">
          <img class="author" src="assets/images/dave.jpg" alt="">
          Dave Budah
        </a>
      </li>
      <li class="list-inline-item">05 May 2022</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet beatae consequuntur
      culpa delectus dolorum eius, eligendi eos illum, in ipsa ipsam laborum maiores molestias
      necessitatibus nisi quas qui quo ratione sint suscipit. Accusantium dolorem eligendi iusto
      omnis praesentium, similique veritatis.</p>
  </div>
  <div class="card comment p-2 my-3">
    <ul class="meta list-inline mb-0">
      <li class="list-inline-item">
        <a href="">
          <img class="author" src="assets/images/dave.jpg" alt="">
          Dave Budah
        </a>
      </li>
      <li class="list-inline-item">05 May 2022</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet beatae consequuntur
      culpa delectus dolorum eius, eligendi eos illum, in ipsa ipsam laborum maiores molestias
      necessitatibus nisi quas qui quo ratione sint suscipit. Accusantium dolorem eligendi iusto
      omnis praesentium, similique veritatis.</p>
  </div>
</div>
