<div class="widget-header text-center">
  <h3 class="widget-title">Advertising</h3>
</div>
<div class="widget-content">
  <div class="post-carousel-widget">
    <div class="post post-carousel">
      <div class="thumb rounded">
        <a href="#" class="category-badge position-absolute">
          Advertising
        </a>
        <a href="#">
          <div class="inner">
            <img src="assets/images/d.jpg" alt="">
          </div>
        </a>
      </div>
      <h5 class="post-title mb-0 mt-4">
        <a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a>
      </h5>
      <ul class="meta list-inline mt-2 mb-0">
        <li class="list-inline-item">
          <a href="">Dave B</a>
        </li>
        <li class="list-inline-item">
          14 March 2022
        </li>
      </ul>
    </div>
    <div class="post post-carousel">
      <div class="thumb rounded">
        <a href="#" class="category-badge position-absolute">
          Advertising
        </a>
        <a href="#">
          <div class="inner">
            <img src="assets/images/b.jpg" alt="">
          </div>
        </a>
      </div>
      <h5 class="post-title mb-0 mt-4">
        <a href="#">This tablet dolor sit amet, consectetur adipisicing elit.</a>
      </h5>
      <ul class="meta list-inline mt-2 mb-0">
        <li class="list-inline-item">
          <a href="">David Budah</a>
        </li>
        <li class="list-inline-item">
          14 March 2022
        </li>
      </ul>
    </div>
    <div class="post post-carousel">
      <div class="thumb rounded">
        <a href="#" class="category-badge position-absolute">
          Advertising
        </a>
        <a href="#">
          <div class="inner">
            <img src="assets/images/c.jpg" alt="">
          </div>
        </a>
      </div>
      <h5 class="post-title mb-0 mt-4">
        <a href="#">Something about dolor sit amet, consectetur adipisicing elit.</a>
      </h5>
      <ul class="meta list-inline mt-2 mb-0">
        <li class="list-inline-item">
          <a href="">Cyberzeus</a>
        </li>
        <li class="list-inline-item">
          14 March 2022
        </li>
      </ul>
    </div>
  </div>
  <div class="slick-arrows-bot">
    <button class="carousel-botNav-prev slick-custom-buttons" data-role="none" aria-label="Previous">
      <i class="bi bi-chevron-left"></i>
    </button>
    <button class="carousel-botNav-next slick-custom-buttons" data-role="none" aria-label="Next">
      <i class="bi bi-chevron-right"></i>
    </button>
  </div>
</div>
