<ul class="nav nav-tabs nav-pills nav-fill border-0" id="postTab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active btn" aria-selected="true" aria-controls="popular"
            data-bs-target="#popular" data-bs-toggle="tab" id="popular-tab" role="tab" type="button">Popular</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link btn" aria-selected="false" aria-controls="recent"
            data-bs-target="#recent" data-bs-toggle="tab" id="recent-tab" role="tab" type="button">Recent</button>
  </li>

</ul>

<div class="tab-content" id="postsTabContent">
  <div class="lds-dual-ring"></div>
  <div class="tab-pane fade show active" id="popular" aria-labelledby="popular-tab" role="tabpanel">
    <!--      Post -->
    <div class="post post-list-sm circle">
      <div class="thumb circle">
        <a href="">
          <div class="inner">
            <img src="assets/images/tab-a.jpg" alt="">
          </div>
        </a>
      </div>

      <div class="details clearfix">
        <h6 class="post-title my-0">
          <a href="">The wanna-cry ransomware hits Zim Banks again.</a>
        </h6>
        <ul class="meta list-inline mt-1 mb-0">
          <li class="list-inline-item">24 May 2021</li>
        </ul>
      </div>
    </div>
    <div class="post post-list-sm circle">
      <div class="thumb circle">
        <a href="">
          <div class="inner">
            <img src="assets/images/tab-b.jpg" alt="">
          </div>
        </a>
      </div>

      <div class="details clearfix">
        <h6 class="post-title my-0">
          <a href="">New Tech hub opened in Chitown.</a>
        </h6>
        <ul class="meta list-inline mt-1 mb-0">
          <li class="list-inline-item">24 May 2021</li>
        </ul>
      </div>
    </div>
    <div class="post post-list-sm circle">
      <div class="thumb circle">
        <a href="">
          <div class="inner">
            <img src="assets/images/tab-c.jpg" alt="">
          </div>
        </a>
      </div>

      <div class="details clearfix">
        <h6 class="post-title my-0">
          <a href="">Last minute chip in for sponsorship by Dave Budah.</a>
        </h6>
        <ul class="meta list-inline mt-1 mb-0">
          <li class="list-inline-item">24 May 2021</li>
        </ul>
      </div>
    </div>
    <div class="post post-list-sm circle">
      <div class="thumb circle">
        <a href="">
          <div class="inner">
            <img src="assets/images/tab-d.jpg" alt="">
          </div>
        </a>
      </div>

      <div class="details clearfix">
        <h6 class="post-title my-0">
          <a href="">My new setup for 2022. Inspired by Spencer Chigs.</a>
        </h6>
        <ul class="meta list-inline mt-1 mb-0">
          <li class="list-inline-item">24 May 2021</li>
        </ul>
      </div>
    </div>
  </div>
  <!--   Recent -->
  <div class="tab-pane fade" id="recent" aria-labelledby="recent-tab" role="tabpanel">
    <div class="post post-list-sm circle" *ngFor="let latestPost of latestPostsArray">
      <div class="thumb circle">
        <a [routerLink]="['/blog', latestPost.id]">
          <div class="inner">
            <img src="{{ latestPost.data.postImgPath }}" alt="">
          </div>
        </a>
      </div>

      <div class="details clearfix">
        <h6 class="post-title my-0">
          <a [routerLink]="['/blog', latestPost.id]">{{ latestPost.data.title }}</a>
        </h6>
        <ul class="meta list-inline mt-1 mb-0">
          <li class="list-inline-item">{{ latestPost.data.createdOn.toMillis() | date }}</li>
        </ul>
      </div>
    </div>
  </div>
</div>
