
<div class="site-wrapper">
  <div class="main-overlay"></div>
  <app-header></app-header>
  <lib-ng-toast></lib-ng-toast>
  <router-outlet></router-outlet>

  <app-footer></app-footer>
</div>

<!-- Canvas -->
<div class="canvas-menu d-flex align-items-end flex-column">
  <button class="btn-close" aria-label="close" type="button"></button>

  <div class="logo">
    <img src="assets/images/logos/logo.png" alt="logo" width="80px">
  </div>
  <nav>
    <ul class="vertical-menu">
      <li class="active">
        <a href="#" class="">Home</a>
        <ul class="submenu">
          <li class=""><a href="#" class="">Dropdown Item</a></li>
          <li class=""><a href="#" class="">Dropdown Item</a></li>
          <li class=""><a href="#" class="">Dropdown Item</a></li>
          <li class=""><a href="#" class="">Dropdown Item</a></li>
          <li class=""><a href="#" class="">Dropdown Item</a></li>
        </ul>
      </li>
      <li class=""><a href="#" class="">Latest</a></li>
      <li class=""><a href="#" class="">About</a></li>
      <li class=""><a href="#" class="">Trending</a></li>
      <li class=""><a href="#" class="">Contact</a></li>
    </ul>
  </nav>

  <ul class="social-icons list-unstyled list-inline mb-0 mt-auto w-100">
    <li class="list-inline-item">
      <a href="" class=""><span><i class="bi bi-facebook-f"></i></span></a>
    </li>
    <li class="list-inline-item">
      <a href="" class=""><span><i class="bi bi-twitter"></i></span></a>
    </li>
    <li class="list-inline-item">
      <a href="" class=""><span><i class="bi bi-linkedin-in"></i></span></a>
    </li>
    <li class="list-inline-item">
      <a href="" class=""><span><i class="bi bi-instagram"></i></span></a>
    </li>
  </ul>
</div>

<!-- Search field -->
<div class="search-popup">
  <button class="btn-close" aria-label="close" type="button"></button>

  <div class="search-content">
    <div class="text-center">
      <h3 class="mb-4 mt-0">Press ESC to close</h3>
    </div>

    <form action="" class="d-flex search-form">
      <input type="text" placeholder="Type your search term & press enter..." aria-label="search" class="form-control me-2">
      <button class="btn btn-default btn-lg" type="submit"><i class="fa bi-search"></i></button>
    </form>
  </div>
</div>


